In [87]:
# brew install tesseract-lang
from img2table.ocr import TesseractOCR
from img2table.document import Image


# Instantiation of OCR
ocr = TesseractOCR(n_threads=1, 
                   lang="eng", 
                   psm=11,
                   tessdata_dir="/Users/daniel.ellis/customlib/homebrew/Cellar/tesseract/5.3.1/share/tessdata")


# read image
src = './lesfmip_papertable_edit.jpeg'
image = Image(src, detect_rotation=False)

tesseract 5.3.1
 leptonica-1.82.0
  libgif 5.2.1 : libjpeg 8d (libjpeg-turbo 2.1.5.1) : libpng 1.6.39 : libtiff 4.5.0 : zlib 1.2.11 : libwebp 1.3.0 : libopenjp2 2.5.0
 Found NEON
 Found libarchive 3.6.2 zlib/1.2.11 liblzma/5.4.1 bz2lib/1.0.8 liblz4/1.9.4 libzstd/1.5.4
 Found libcurl/7.87.0 SecureTransport (LibreSSL/3.3.6) zlib/1.2.11 nghttp2/1.51.0

In [88]:
extracted = image.extract_tables(
                                    ocr = ocr,
                                    implicit_rows=True,
                                    borderless_tables=False,
                                    min_confidence=90)

In [89]:
extracted

[ExtractedTable(title=Description
 Tier
 Start year
 End year
 Notes
 Well-mixed
 2020
 As DAMIP but with larger ensembles (10 members:, bbox=(263, 106, 727, 1278),shape=(11, 4))]

In [90]:
a = extracted[0]

In [91]:
a.df

,0,1,2,3
0,historical simulations,None,None,None
1,only historical,None,None,2020
2,historical\nsimulations,None,None,None
3,historical\nsimulations,None,None,None
4,Historical simulations\nwith only land use,None,None,None
5,1.5 but with updated,None,None,None
6,As but with updated\nforcings,None,rds,None
7,volcanic),None,None,None
8,but with updated\nforcings,3,2015 onwards,onwards
9,1.6 but with\nsingle forcing kept\nconstant at...,None,None,None
10,but\nsingle forcing kept\n1850,None,2015 onwards,2024 onwards

In [92]:
extracted[1].df

IndexError: list index out of range

In [ ]:
image.extract_tables()

[]